<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $("#search").keyup(function () {
                $("#result").empty();
                val = $("#search").val();
                console.log("entered: " + val);
                if (val.length >= 2) {
                    $.get("/ajax/", {search: val}, function (data, status) {
                        console.log("received: status=" + status + "\r\ndata= " + data);
                        if (status == 'success') {
                            var res = JSON.parse(data);
                            console.log("parsed: " + res);
                            table = "<table cellpadding='5'>";
                            for (var i = 0; i < res.length; i++) {
                                console.log("i=" + i + ": " + res[i].id + " " + res[i].name);
                                table += "<tr><td>";
                                table += res[i].id;
                                table += "</td><td>";
                                table += "<a href='/book/edit/" + res[i].id + "'>";
                                table += res[i].name;
                                table += "</a>";
                                table += "</td></tr>";
                            }
                            table += "</table>";
                            $("#result").html(table);

                        }
                    });
                }
            });
        });
        /*]]>*/
    </script>
</head>
<body>

    <h2>Live search:</h2>
    <input id="search"/>
    <div id="result"></div>
    <hr/>
    <h2>List</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"/>
            <td><a th:href="@{/book/edit/} + ${book.id}" th:text="${book.name}"/></td>
            <td><a th:href="@{/book/delete/} + ${book.id}">DELETE</a></td>
        </tr>
    </table>
    <a th:href="@{/book/new}">Add new one</a>
    <img th:src="@{img/leaf.gif}" border="10" />
<img src="img/leaf.gif"/>
</body>
</html>