<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

        });
        /*]]>*/
    </script>
</head>
<body>

    <h2>List</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>KIND</th>
        </tr>
        <tr th:each="book : ${list}">
            <td th:text="${book.id}"/>
            <td><a th:href="@{/pet/edit/} + ${book.id}" th:text="${book.name}"/></td>
            <td th:text="${book.age}"/>
            <td th:text="${book.kind}"/>
            <td><a th:href="@{/pet/delete/} + ${book.id}">DELETE</a></td>
        </tr>
    </table>
    <a th:href="@{/book/new}">Add new one</a>

</body>
</html>